{% extends 'base.html.twig' %}

{% block title %}IMDB-Like Accueil{% endblock %}

{% block main %}
<div class="container">
    <div class="row row-cols-1 text-center">
        <div class="col">
            <h3>Presque IMDb</h3>
        </div>
        <div class="col text-center pt-2 border-bottom border-top rounded">
            <p>
                Vous disposez de deux grandes parties, la première listant par titre de films et la seconde par noms
            </p>
            <p>Le tout accessible via le menu de la barre supérieure</p>
            <p>Je vous laisse découvrir la suite</p>
        </div>
    </div>
</div>

{% endblock %}