{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}

<main class="container">
    
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Les films</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-1 col-md-3">
            
        </div>
    </div>
</main>

{% endblock %}
