body{
    font-family: "BioRhyme", serif;
}

header {
    height: 10vh;
    max-height: 250px;
}

#btn-seek{
    position: sticky;
    top : 9vh;
}
#btn-seek a{
    margin-left: calc(90vw - 20px);   
}