.bg-color-one {
    background-color: #2362b0;
}

.bg-color-two {
    background-color: #43A3DB;
}

.bg-color-three {
    background-color: #ffca08;
}

.bg-color-four {
    background-color: #ec781d;
}

.text-color-one {
    color: #2362b0;
}

.text-color-two {
    color: #43A3DB;
}

.text-color-three {
    color: #ffca08;
}

.text-color-four {
    color: #ec781d;
}